#texto-arriba{
    text-align: center;
    padding: 1px;
    font-weight: lighter;
    font-size: 2rem;
    line-height: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;

}
#app{
    width: 40%;
    height: 450px;
    margin: auto;
    padding: 3%;
    background: rgba(178, 178, 178, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7%;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

#cap{
    align-self: center;
    padding: 2%;
}

form{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    height: 25px;
    border-radius: 7px;
    border: 1px solid rgb(119, 119, 119);
    padding: 1%;
}
#btn{
    /* flex-grow: 2; */
    height: 20%;
    background: #58B84D;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
}
#btn:hover{
    opacity: .8;
}
.new{
    /* background: salmon; */
    /* width: 50%;
    margin: auto; */
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.new a{
    text-decoration: none;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
footer ul li{
    text-decoration: none;
    padding: 15px;
}
@media screen and (max-width: 1100px){
    #formulario{
        width: 40%;
        height: 250px;
        margin: auto;
        background: rgba(178, 178, 178, .2);
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media screen and (max-width: 900px){
    #formulario{
        width: 50%;
        height: 250px;
        margin: auto;
        background: rgba(178, 178, 178, .2);
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
