doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='../static/css/style_login.css')
  body
    #imagen
      img(src='../static/img/logo.JPG' alt='')
    p Registrarse en Soe
    section#formulario
      form(action='')
        label(for='') Email
        br
        input(type='text')
        br
        label(for='') Contraseña
        br
        input(type='text')
        br
        input#btn(type='button' value='Acceder')
    .new
      | Nuevo en Soe? 
      a(href='#') Crear una cuenta
    footer
      ul
        li Terminos
        li Provacidad
        li Seguridad
        li Contactar con AmezagaCode
