doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='../static/css/register.css')
    script(src='https://www.google.com/recaptcha/api.js?hl=es')
  body
    #cabezera
      header
        nav#navbar
          #navegation.container
            a(href='/')
              img(src='../static/img/logo_empresa_opt.jpg' alt='Logotipo')
            span#navbar-toggle
              i.fas.fa-bars
    #texto-arriba
      h5 Unirse a SOE
      h3 Crea tu Cuenta
    #formulario
      section
        form(action='')
          label(for='') Email
          br
          input(type='text')
          br
          label(for='') Contraseña
          br
          input(type='password')
          br
          label(for='') Confirmar Contraseña
          br
          input(type='password')
          br
          #cap
            .g-recaptcha(data-sitekey='6LdKywEaAAAAAG3QjlZmaopos4sfWRyhZecp9mlr')
          input#btn(type='button' value='Crear Cuenta')
    .new
      | Ya tienes Cuenta? 
      a(href='#') Inicia sesión aquí
    footer
      ul
        li Terminos
        li Provacidad
        li Seguridad
        li Contactar con AmezagaCode
